.mainContainer{
	border:1px solid lightgray;
	width:60%;
	margin:5px auto 5px auto;
	padding:10px;
}
.mainContainer h3{
	color:#414141;
}
.casinosContainer{
	width:90%;
	margin:3px auto 5px auto;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}
.casino_container{
	width:280px;
	height:250px;
	border:1px solid lightgray;
	border-radius:10px;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:space-between;
}
.casino_image_container{
	width:270px;
	display:flex;
	flex-direction:column;
	align-items:center;
}
.casino_container img{
	width:250px;
	height:100px;
	margin-top:5px;
	border-radius:10px;
}
.casino_container b{
	text-align:center;
	padding:5px;
	color:#414141;
}
.casino_container a{
	text-decoration:none;
}
.casino_container label{
	text-align:center;
	font-size:0.8em;
}
.welcome_container{
	text-align:center;
	width:80%;
	margin:10px auto 10px auto;
}
.welcome_container h1{
	font-size:1.5em;
	color:#414141;
}
.news_container{
	width:80%;
	margin:0px auto 10px auto;
}
.newContainerFlex{
	display:flex;
	flex-wrap:wrap;
	border-top:1px solid lightgray;
	border-bottom:1px solid lightgray;
	width:90%;
	margin:10px auto 10px auto;
	padding:5px;
}
.new_image_container{
	width:250px;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	overflow:none;
}
.new_image_container img{
	width:200px;
}
.new_content_container{
	flex:1;
	padding:10px;
}
.mini_title_container{
	display:flex;
	justify-content:space-between;
	margin:0;
}
.mini_title_container p{
	margin:0;
	color:#0B203D;
}
.new_content_container b{
	font-style:italic;
	color:#414141;
}
.read_more_button{
	cursor:pointer;
	float:right;
	color:rgb(85, 26, 139);
}
.content_container{
	width:70%;
	margin:10px auto 10px auto;
}
.content_container p{
 	line-height:1.4;
}
@media (max-width:1650px){
	.mainContainer{
		width:95%;
	}
	.casinosContainer{
		width:95%;
	}
	.casino_container{
		width:200px;
		height:200px;
	}
	.casino_image_container{
		width:270px;
		display:flex;
		flex-direction:column;
		align-items:center;
	}
	.casino_container img{
		width:180px;
		height:50px;
		margin-top:5px;
		border-radius:10px;
	}
}
@media (max-width:450px){
	.mainContainer{
		box-sizing: border-box;
	}
	.welcome_container{
		text-align:center;
		width:95%;
		margin:0;
	}
	.welcome_container h1{
		font-size:30px;
		color:#414141;
	}
	.news_container{
		width:99%;
	}
	.new_image_container{
		margin:0px auto 0px auto;
	}
	.content_container{
		width:95%;
	}
	.content_container h3{
		text-align:center;
	}
	.casino_container{
		width:250px;
	}
	.casino_container{
		margin:5px auto 5px auto;
	}
}