{% load static from staticfiles %}
<!doctype html>
<!DOCTYPE html>
<html>
<head>
	{% load bleach_tags %}
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %}</title>
	{% block extra_head %}{% endblock %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	<!-- Google Fonts for text -->
	<link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-P44MHCB');</script>
	<!-- End Google Tag Manager -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P44MHCB"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	{% include 'navbar.html'%}
	
	{% block content %}

	{% endblock %}
	<div id="cookie_container">
		<div id="cookie_content">
			<p> Casino-blogg använder cookies för säkerställa att våra användare har bästa möjliga upplevelsen. </p><p id="accept_cookie_button" onclick="removeCookieContainer()">  Ok, jag förstår. </p> 
		</div>
	</div>
	{% include 'footer.html'%}
</body>
</html>
<script>
		function setCookie(cname, cvalue, exdays) {
		  var d = new Date();
		  d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
		  var expires = "expires="+d.toUTCString();
		  document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
		}
		function getCookie(cname) {
		  var name = cname + "=";
		  var ca = document.cookie.split(';');
		  for(var i = 0; i < ca.length; i++) {
		    var c = ca[i];
		    while (c.charAt(0) == ' ') {
		      c = c.substring(1);
		    }
		    if (c.indexOf(name) == 0) {
		      return c.substring(name.length, c.length);
		    }
		  }
		  return "";
		}
		function checkCookie(){
			var value = getCookie("Cookies");
		 	if (value != "") {
		 		//Not Empty
			} else {
			    value = 'CookieLotto';
			    countValue = "";
			    if (value != "" && value != null) {
			    	setCookie("Cookies", value, 1);
			    	setCookie("Cookie", countValue, 1);
			    }
			}
			countValue = getCookie("Cookie");
			if(countValue === 'allowed'){
				cookieLabel = document.getElementById('cookie_container');
		  		cookieLabel.remove();
			}
		}
		function removeCookieContainer(){
			countValue = getCookie("Cookie");
			if(countValue == ""){
				cookieLabel = document.getElementById('cookie_container');
		  		cookieLabel.remove();
		  		setCookie("Cookie", 'allowed', 1);
			}
		}
		checkCookie();
</script>